<div class="logo--footer"></div>
<div class="wrapper color-gray-light">
  <div class="row">
    <div class="medium-12 columns">
      {{#next_post}}
        <article class="post color-gray">
          <div class="post__latest">Next Post</div>

          <div class="post__image {{#if @first}}visible{{else}}hide-for-small-only{{/if}} small-12 medium-6 columns">
            <figure class="effect-share text-center full-image" style="background-image:url({{ image }});">
              <figcaption>
                <div class="mask"></div>
                <div class="border"></div>
                <div class="center">
                  <h3>Share This Post</h3>
                  <hr>
                  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ @blog.url }}{{ url }}&title={{ title }}"><i class="fa fa-linkedin"></i></a>
                  <a href="https://www.twitter.com/share?text={{ title }}url={{ @blog.url }}{{ url }}"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.facebook.com/sharer/sharer.php?u={{ @blog.url }}{{ url }}"><i class="fa fa-facebook"></i></a>
                  {{!-- <a href="#" class="button"><i class="fa fa-share-alt"></i></a> --}}
                </div>
              </figcaption>
            </figure>
          </div>
          <div class="post__detail small-12 medium-6 columns">
            <header>
              <span class="epigraph">{{#foreach tags}}{{#if @first}}{{ name }}{{/if}}{{/foreach}}</span>
              <h2>{{ title }}</h2>
            </header>
            {{ content words='17' }}
            <a href="{{ url }}" class="button">Read Full Post</a>
          </div>
        </article>
      {{/next_post}}
      {{#prev_post}}
      <article class="post color-gray">
        <div class="post__latest">Previous Post</div>

        <div class="post__image {{#if @first}}visible{{else}}hide-for-small-only{{/if}} small-12 medium-6 columns">
          <figure class="effect-share text-center full-image" style="background-image:url({{ image }});">
            <figcaption>
              <div class="mask"></div>
              <div class="border"></div>
              <div class="center">
                <h3>Share This Post</h3>
                <hr>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ @blog.url }}{{ url }}&title={{ title }}"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.twitter.com/share?text={{ title }}url={{ @blog.url }}{{ url }}"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ @blog.url }}{{ url }}"><i class="fa fa-facebook"></i></a>
                {{!-- <a href="#" class="button"><i class="fa fa-share-alt"></i></a> --}}
              </div>
            </figcaption>
          </figure>
        </div>
        <div class="post__detail small-12 medium-6 columns">
          <header>
            <span class="epigraph">{{#foreach tags}}{{#if @first}}{{ name }}{{/if}}{{/foreach}}</span>
            <h2>{{ title }}</h2>
          </header>
          {{ content words='17' }}
          <a href="{{ url }}" class="button">Read Full Post</a>
        </div>
      </article>
      {{/prev_post}}
    </div>
  </div>
</div>
